.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn

# local debug artifacts
*.bak
scripts/
Cargo.lock

# local backups
.bak/
*.bak_*

# local backups (never commit)
programs/btc_parimutuel/src/*.bak_*
