[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
btc_parimutuel = "328SxemHPfb2Y2pBeH5FgZfP3dtquXUhTCYQ7L2XDf4r"

[programs.devnet]
btc_parimutuel = "328SxemHPfb2Y2pBeH5FgZfP3dtquXUhTCYQ7L2XDf4r"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bash tests/run_with_retry.sh"

[hooks]
